@page "/access-denied"
@inject IStringLocalizer<SharedResource> L

<PageTitle>@L["AccessDenied_PageTitle"]</PageTitle>

<div class="alert alert-danger">
    <h3>@L["AccessDenied_Heading"]</h3>
    <p>@L["AccessDenied_Body"]</p>
    <a href="/" class="btn btn-default">@L["AccessDenied_Back"]</a>
</div>
